body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  margin: 10px;
}
input {
  width: 370px;
  height: 50px;
  outline: none;
}

.page {
  display: flex;
  justify-content: space-between;
}
